{% include './layouts/Header.html' %} {% include './partials/Navbar.html' %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p class="mt-3">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat id
      molestiae ad assumenda nobis porro impedit ducimus repellendus illo
      temporibus odit, nulla eum. Quia, assumenda animi enim officia nam, id
      dolor et unde minus adipisci, voluptatem voluptatibus autem. At ratione
      asperiores rem laborum quasi. Pariatur, optio distinctio fugiat vel velit
      temporibus quia ducimus perspiciatis ut natus odio totam quo numquam
      deserunt dolores aliquam, quisquam aut odit accusantium et, eaque neque.
      Dolores neque consequatur, obcaecati possimus quam perferendis
      perspiciatis nam atque quas reprehenderit! Nam soluta dolor sint tenetur
      hic itaque cumque, ut dolores veniam! Accusamus perferendis ratione
      voluptatem recusandae, saepe quis.
    </p>
    <div class="text-center">
      <a href="/login/" class="btn btn-secundary">Login</a>
      <a href="/register/" class="btn btn-dark">Register</a>
    </div>
  </section>
</main>
{% include './layouts/Footer.html' %}
