{% include '../layouts/Header.html' %} {% include './../partials/Navbar.html' %}
<h2>{{ header }}</h2>

<div>
  {% for task in tasks %}
  <a href="{% url 'id' task.id %}" style="text-decoration: none">
    <div>
      {% if task.important %}
      <h2>
        <mark>{{task.title}}</mark>
      </h2>
      {% else %}
      <h2>{{task.title}}</h2>
      {% endif %}
    </div>
    <div>
      <p>{{task.description}}</p>
      <span>{{task.user.username}}</span>
      <time>{{task.completed|date:'M j Y:i'}}</time>
    </div>
  </a>
  {% endfor %}
</div>
{% include '../layouts/Footer.html' %}
